[submodule "oca-project"]
	path = oca-project
	url = https://github.com/OCA/project.git
	branch = 15.0
[submodule "oca-queue"]
	path = oca-queue
	url = https://github.com/OCA/queue
	branch = 15.0
[submodule "oca-connector"]
	path = oca-connector
	url = https://github.com/OCA/connector
	branch = 15.0
[submodule "oca-connector-jira"]
	path = oca-connector-jira
	url = https://github.com/OCA/connector-jira
	branch = 15.0
